<% active = params[:action] %>

<div class="sidebar d-flex p-3">
  <div class="sidebar-menu" id="toggle">
    <span class="top"></span>
    <span class="bottom"></span>
  </div>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li>
        <%= link_to '#', class: "sidebar-link d-flex align-items-center '#{'sidebar-active' if active == 'wagon'}'" do %>
          <i class="fas fa-shuttle-van"></i>
          <p class="ml-5 m-0">the batch</p>
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: "sidebar-link d-flex align-items-center '#{'sidebar-active' if active == 'wagon'}'" do %>
          <i class="fab fa-slack-hash"></i>
          <p class="ml-5 m-0">the numbers</p>
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: "sidebar-link d-flex align-items-center '#{'sidebar-active' if active == 'wagon'}'" do %>
          <i class="fas fa-rocket"></i>
          <p class="ml-5 m-0">the projects</p>
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: "sidebar-link d-flex align-items-center '#{'sidebar-active' if active == 'wagon'}'" do %>
          <i class="fas fa-gift"></i>
          <p class="ml-5 m-0">the TAs</p>
        <% end %>
      </li>
      <li>
        <%= link_to '#', class: "sidebar-link d-flex align-items-center '#{'sidebar-active' if active == 'wagon'}'" do %>
          <i class="fas fa-seedling"></i>
          <p class="ml-5 m-0">quick note</p>
        <% end %>
      </li>
    </ul>
  </nav>
</div>


