<head><script src="https://kit.fontawesome.com/cc0776e5fd.js" crossorigin="anonymous"></script></head>

<div class="big-box">
  <div class="numbers m-3 p-3">
    <% colour = ['n-pippin', 'n-old_lace', 'n-black', 'n-white'] %>

    <div class="row quarter">
      <div class="col-12 col-md-6 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:12vw;">41</h1>
          <div class="number-infos">
            <i class="fas fa-user-graduate"></i><p>amazing students that are now Web Developers!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 number-card">
        <div class="row h-100">
          <div class="col-12 mb-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:3vw;">1.50</h1>
              <div class="number-infos">
                <i class="fas fa-sack-dollar"></i><p>to release GitHub profiles prizes from Post Office</p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:3vw;">77</h1>
              <div class="number-infos">
                <i class="fas fa-abacus"></i></i><p>highest ticket count on one single day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row quarter">
      <div class="col-12 col-md-5 number-card">
        <div class="row h-100">
          <div class="col-12 mb-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">5</h1>
              <div class="number-infos">
                <i class="fas fa-gamepad-alt"></i><p>times restarted the Coding Game</p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">498,234</h1>
              <div class="number-infos">
                <i class="fas fa-sync-alt"></i><p>unsuccessfully running rake on the terminal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:10vw;">2882</h1>
          <div class="number-infos">
            <i class="fas fa-ticket-alt"></i><p>tickets opened during the bootcamp</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row quarter">
      <div class="col-12">

      </div>
    </div> -->

    <div class="row quarter">
      <div class="col-12 col-md-4 number-card">
        <div class="row h-100">

          <div class="col-12 col-md-6">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">2</h1>
              <div class="number-infos">
                <i class="fas fa-siren-on"></i><p>fire alarms during livecode</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">10</h1>
              <div class="number-infos">
                <i class="fas fa-laptop-code"></i><p>kick-ass projects shipped</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:12vw;">140</h1>
          <div class="number-infos">
            <i class="fas fa-ballot-check"></i><p>challenges completed</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:10vw;">1</h1>
          <div class="number-infos">
            <i class="fas fa-glass-cheers"></i><p>f**king huge party we'll have when possible</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
